<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Title</title>
</head>
<body>
<form name="caduser"  method="post">
	<label>Cadastro de Usuario</label>
	<br>
	<br>
	<label>Nome Completo:</label>
	<input type="text" name="nome">
	<br>
	<label>Cpf:</label>
	<input type="text" name="cpf">
	<br>
	<label>Email:</label>
	<input type="text" name="email">
	<br>
	<label>Senha</label>
	<input type="password" name="senha">
	<br>
	<label>Telefone</label>
	<input type="text" name="telefone">
	<br>
	<label>Curriculo</label>
	<textarea name="curriculo" rows="5" wrap="hard"></textarea>
	<br>
		<input type="submit" name="cadastra" value="cadastrar">
</form>

</body>
</html>